{% extends 'back.html.twig'  %}

{% block body %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Ajouter Banque de sang</h2>

            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <div style="display:flex; align-items:center;justify-content: center ;  margin-bottom: 100px" >

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="col-lg-10">

                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}


                <div class="row">

                    <div class="col-md-6 form-group" style="margin-bottom: 11px"  >
                        {{ form_label(form.nom, null, {'label': 'Nom:'}) }}
                        {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.nom) }}

                    </div>
                    <div class="form-group mt-3">
                        {{ form_label(form.adresse, null, {'label': 'Adresse:'}) }}
                        {{ form_widget(form.adresse,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.adresse) }}
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0" >
                        {{ form_label(form.tel, null, {'label': 'Télephone:'}) }}
                        {{ form_widget(form.tel,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.tel) }}
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0" >
                        {{ form_label(form.longitude, null, {'label': 'longitude:'}) }}
                        {{ form_widget(form.longitude,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.longitude) }}
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0" >
                        {{ form_label(form.latitude, null, {'label': 'latitude:'}) }}
                        {{ form_widget(form.latitude,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.latitude) }}
                    </div>
                </div>



                <div class="text-center" >

                    <button type="submit" style="background-color: #1bbd36 ;
                     padding: 10px 24px ;
                     color: #fff;
                     transition: 0.4s;
                     border: 0;
                     border-radius: 4px;">Ajouter</button>


                </div>

                {{ form_end (form) }}

            </div>

        </div>

    </div>


{% endblock  %}