{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div style="margin-top: 150px; background-color: gainsboro;">
    <div class="container mt-5" style="margin-top: 150px; padding: 10px;">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal text-center">Sign in</h1>
                    <div class="form-floating mb-3">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputEmail">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        <label for="inputPassword">Password</label>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">
                        Sign in
                    </button>
                </form>
                <div class="text-center">
                    <a href="{{ path('forgotten_password') }}" class="link-primary">Forgot your password?</a>
                    <span class="mx-2">or</span>
                    <a href="{{ path('app_register') }}" class="link-primary">Create an account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}