{% extends 'base.html.twig' %}
{% block body %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Annonces</h2>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <h1>Welcome {{ app.user.name  }} {{ app.user.firstname  }} </h1>
                {% endif  %}
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li><a  href="{{ path('annonce_aff') }}">Annonces</a></li>
                    <li><a  href="{{ path('annonce_aff2') }}">Back </a></li>
                </ol>

            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <div  style="
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff3cd;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #1bbd36;
    font-family: Roboto, sans-serif;">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <a  href="{{ path('app_login')}}">Ajouter une annonce</a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a  href="{{ path('addannonceForm') }}">Ajouter une annonce</a>
{% endif %}
    </div>
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">
                {% for blog in f %}
                <article class="entry">

                    <div class="entry-img">
                        <img src="{{ asset('uploads/annonce/'~blog.image) }}" style=" margin-left: 55px ; margin-top: 20px " alt=""/>
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">{{ blog.titre }}</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i>{{ blog.nom }}</li>
                            <li class="d-flex align-items-center"><i class="bi bi-telephone"></i>{{ blog.tel }}</li>
                            <li class="d-flex align-items-center"><i class="bi bi-mailbox2"></i>{{ blog.email }}</li>
                            <li class="d-flex align-items-center"><i class="bi bi-map"></i>{{ blog.local }}</li>

                        </ul>
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-clock-fill"></i>{{ blog.etat }}</li>
                            <li class="d-flex align-items-center"><i class="bi bi-card-text"></i>{{ blog.categorie }}</li>
                            <li class="d-flex align-items-center"><i class="bi bi-tag"></i>{{ blog.tag }}</li>
                        </ul>
                    </div>

                    <div class="entry-content" >

                                 <p>
                                      {{ blog.descreption }}
                                </p>

                        <div class="read-more">
                            <a  href="{{ path('annonce_single',{'id':blog.id}) }}">Read More</a>
                            {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if app.user.id == blog.user.id %}
                                    <a  href="{{ path('annonce_upd',{'id':blog.id}) }}" >Modifier</a>
                                    <a  href="{{ path('annonce_rem',{'id':blog.id}) }}">Supprimer</a>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>

                </article>  <!-- End blog entry -->
                {% endfor %}






                <div class="blog-pagination">
                    <ul class="justify-content-center">

                        <li><a href="#">{{ knp_pagination_render( f) }}</a></li>
                        <!--  <li><a href="#">{{ knp_pagination_render( f) }}</a></li> -->


                    </ul>
                </div>

            </div><!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar">

                    <h3 class="sidebar-title">Search</h3>
                    <div class="sidebar-item search-form">
                        <form action="">
                            <input type="text">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->

                    <h3 class="sidebar-title">Categories</h3>
                    <div class="sidebar-item categories">

                        <ul>
                            <li><a href="#">Appareil médical <span>(25)</span></a></li>
                            <li><a href="#">Equipement médical <span>(12)</span></a></li>
                            <li><a href="#">Fourniture médical <span>(5)</span></a></li>
                            <li><a href="#">Autres <span>(22)</span></a></li>

                        </ul>

                    </div><!-- End sidebar categories-->



                    <h3 class="sidebar-title">Tags</h3>
                    <div class="sidebar-item tags">
                        {% for tag in f %}
                        <ul>
                            <li><a href="#">{{ tag.tag }}</a></li>


                        </ul>
                        {% endfor %}
                    </div><!-- End sidebar tags-->

                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->

        </div>

    </div>
</section><!-- End Blog Section -->
{% endblock %}