{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}
{% block body %}
<div style="margin-top: 200px">
    <section class="container">
        <div>
            <a href="{{ path('app_send') }}" class="btn btn-dark">Envoyé message</a>
        </div>
        <div class="row">
            <div class="col">
                <h1>Messagerie</h1>
                <h2>Eléments envoyés</h2>
                <p> Vous avez envoyés : {{ app.user.sent|length }} messages</p>

            </div>
            <div class="card-group">
                <div class="col-3">De </div>
                <div class="col-3">Sujet </div>
                <div class="col-3">Date </div>
                <div class="col-3">Action </div>
                {% for message in app.user.sent %}
                {% set bold = "" %}
                {% if message.isRead == 0 %}
                    {% set bold = "fw-bold" %}
                {% endif %}
                <div class="col-3 {{ bold }}">{{ message.sender.email }}</div>
                <div class="col-3 {{ bold }}"><a href="{{ path("app_read", {id: message.id}) }}">{{ message.title }}</a></div>
                <div class="col-3 {{ bold }}">{{ message.createdAt|date }}</div>
                <div class="col-3">
                    <a href="{{ path("app_received", {id: message.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                            <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{{ path('app_message') }}" class="btn btn-outline-primary">Acceuil</a>
        <a href="{{ path('app_received') }}" class="btn btn-outline-primary">Boite de réception</a>
        <a href="{{ path('app_sent') }}" class="btn btn-primary">Eléments envoyés</a>
    </section>
</div>
{% endblock %}